<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="Web_SistemaRRHHPU" transaction-type="RESOURCE_LOCAL">
    <non-jta-data-source>jdbc/SistemaRH</non-jta-data-source>
    <class>com.bitlab.entidades.Contrato</class>
    <class>com.bitlab.entidades.Departamento</class>
    <class>com.bitlab.entidades.Detalleplanilla</class>
    <class>com.bitlab.entidades.Empleado</class>
    <class>com.bitlab.entidades.Planilla</class>
    <class>com.bitlab.entidades.Rol</class>
    <class>com.bitlab.entidades.Usuario</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
  </persistence-unit>
</persistence>